# external-ca/
external-ca/bin/
external-ca/identity-rca/
external-ca/tls-rca/
external-ca/crypto-config/
external-ca/config/*
external-ca/.DS_Store
external-ca/chaincode/hyperledger/
external-ca/ca-config/msp
external-ca/ca-config/*.db
external-ca/ca-config/*Key
external-ca/ca-config/tlsca/msp
external-ca/ca-config/tlsca/*.db
external-ca/ca-config/tlsca/*.db
external-ca/ca-config/tlsca/*Key
external-ca/newca-config/msp
external-ca/newca-config/*.db
external-ca/newca-config/*Key
external-ca/ica.json
external-ca/kubeconfig
external-ca/newica/*